$default-primary-color: rgba(238,156,242,1);
$second-primary-color: rgba(61,178,184,1);
$complementary-color: rgba(242, 241, 156, 1);
$font-color-btn: darken($second-primary-color, 35%);
$previous-num: rgba(255, 255, 255, 0.7);
$white: rgba(255, 255, 255, 1);
$output-color: darken(rgba(61,178,184,0.5), 40%);



*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Gudea", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(81,193,203);
    background: radial-gradient(circle, $second-primary-color 0%, $default-primary-color 100%);
}

.calc-container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

    button {
        cursor: pointer;
        font-size: 2rem;
        color: $font-color-btn;
        border: 1px solid $white;
        outline: none;
        background-color: $default-primary-color;
        opacity: 0.95;

        &:hover {
            background-color: lighten($default-primary-color, 8%);
        }
    }

    .bigger-btn {
        grid-column: span 2;

        &.equal {
            background-color: $complementary-color;

            &:hover {
                background-color: darken($complementary-color, 8%);
            }
        }
    }

    .output {
        grid-column: span 4;
        background-color: $output-color;
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 0.7rem;
        word-wrap: break-word;
        word-break: break-all;

        .previous-num {
            color: $previous-num;
            font-size: 1.5rem;
        }

        .current-num {
            color: $white;
            font-size: 2.5rem;
        }
    }
}
